<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>			</title>
</head>
<body>
	
	<form method="get" action="/salvar" >
		<input type="text" class="" name="servico" placeholder="servico"/> <br>
		<input type="text" class="" name="classificacaoDoServico" placeholder="classificacaoDoServico"/> <br>
		<input type="text" class="" name="descriçãoDoServico" placeholder="descriçãoDoServico"/> <br>
		<input type="text" class="" name="rua" placeholder="Ano de rua"/> <br>
		<input type="text" class="" name="bairro" placeholder="bairro"/> <br>
		<input type="text" class="" name="cidade" placeholder="cidade "/> <br>
		<input type="number" class="" name="numero" placeholder="numero "/> <br>
		<input type="text" class="" name="cep" placeholder="cep "/> <br>
		<input class="btn btn-primary" type="submit" value="Salvar">
	</form>
	
</body>
</html>